html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.menu-bar {
  /* background-color: #ffff66;
  border: 2px solid #333;*/
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bar {
  /*background-color: #cccccc;
  border: 2px solid #333;*/
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1;
  /*background-color: #ffcc44;
  border: 2px solid #333;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-panels {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-panel {
  flex: 1;
  /*background-color: #eebb88;
  border: 2px solid #333;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-panel {
  flex: 1;
  /*background-color: #aadd77;
  border: 2px solid #333;*/
  display: flex;
  align-items: center;
  justify-content: center;
}